services:
  frontend-dev:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "3000:5173"
    command: sh -c "npm ci && npm run dev"
    environment:
      - CHOKIDAR_USEPOLLING=true